<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>vivid namco</h1>

  <p><%=rows[0].idx%></p>
  <p><%=rows[0].id%></p>
  <p><%=rows[0].title%></p>
  <p><%=rows[0].content%></p>
  <p><%=rows[0].regdate%></p>

  </body>
</html>
